<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <title>Login | Signup - Skin Analysis</title>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h2 id="formTitle">Login</h2>
            <form id="authForm" method="POST">
                <input type="text" id="username" name="username" placeholder="Username" required />
                <input type="password" id="password" name="password" placeholder="Password" required />
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                    style="display: none;" required />
                <!-- <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required /> -->
                <button type="submit" id="submitBtn">Login</button>
            </form>
            <p class="switch-link">
                <span id="switchText">Don't have an account?</span>
                <a href="#" id="switchToSignup">Sign up here</a>
            </p>
            <p class="error" id="errorMsg"></p>
        </div>
    </div>

    <script src="../static/index.js"></script>
</body>

</html>